<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <th:block th:insert="~{include/bs5}"></th:block>
  <script>
    'use strict';

    function search() {
      let name = $("#searchStr").val();
      if(name == "") {
        alert("검색할 아이디를 입력해주세요.");
        $("#searchStr").focus();
        return false;
      }

      location.href="/user/userList?searchStr="+name;
    }
  </script>
</head>
<body>
  <div class="container text-center">
    <p><br/></p>
    <h2>회원목록</h2>
    <p></p>
    <div class="input-group">
      <input type="text" id="searchStr" name="searchStr" placeholder="검색할 아이디를 입력해주세요." class="form-control" />
      <input type="button" value="검색" onclick="search()" class="btn btn-success" />
    </div>
    <p></p>
    <table class="table table-hover">
      <tr class="table-secondary">
        <th>번호</th>
        <th>아이디</th>
        <th>나이</th>
      </tr>
      <th:block th:each="dto : ${dtos}">
        <tr>
          <td>[[${dto.idx}]]</td>
          <td>[[${dto.name}]]</td>
          <td>[[${dto.age}]]</td>
        </tr>
      </th:block>
    </table>
    <p></p>
    <div class="row">
      <div class="col">
        <input type="button" value="전체보기" th:onclick="|location.href='@{/user/userList}'|" class="btn btn-primary" />
        <input type="button" value="돌아가기" th:onclick="|location.href='@{/}'|" class="btn btn-warning" />
      </div>
    </div>
  </div>
</body>
</html>